/*
    Style settings that are shared across all components
*/

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --lgt-blue: #197BBD;
    --blue: #0A2342;
    --yellow: #FFC759;
    --red: #941C2F;

    --header-font-en: 'birthstone bounce';
    --copy-font-en: 'montserrat';
    --header-font-ch: 'noto serif TC';
    --copy-font-ch: 'noto sans TC';
}


h1, h2, h3{
    line-height: 1.1;
}

img{
    width: 100%;
    height: auto;
}


.container{
    max-width: 1920px;
    margin: 0 auto;
    
}



body{
    margin-bottom: 6em;
}

@media (min-width: 768px){
    body{
        margin-bottom: 0;
    }
}

